.Card {
    width: 25%;
    min-width: 200px;
    height: 360px;
    background-color: yellow;
    padding: 10px 10px;   
    margin: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: lightseagreen;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 2px 3px lightseagreen;
    transition: transform 500ms ease-in;    
}

.Card:hover {
    transform: translate(0px, -20px);
}
